# manully set ignored
.vs
x64
leetcode_2022/x64
leetcode_2022/*.vcxproj
leetcode_2022/*filters
leetcode_2022/*.user

*.sln


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
